ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	//width: 100%;
	//background-color: gray;
	overflow: hidden;
}

li {
	float: left;
	display: block;
	background-color: #f44336;
	color: white;
	padding: 14px;
	margin: 14px;
	text-align: center;
	display: block;
}

li:hover{
	background-color: red;
	cursor: pointer;
}

li.active{
	background-color: #555;
}

#cover {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -20;
	width: 100%;
	height: 100%;
}

#progress {
	left: 25%;
	top: 55%;
	width: 50%;
	height: 30px;
	position: absolute;
	background-color: #ddd;
	overflow: hidden;
	display: none;
}

#bar {
	
	background-color: #4CAF50;
	width: 40%;
	height: 30px;
	position: relative;
	display: none;
}
#state {
	position: absolute;
	top: 50%;
	left: 45%;
	display: none;
}

#paperView {
	display: block;
	
}